@model DevIO.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Editar " + Model.Nome;
}


<h4 class="mt-5">@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data">

            <vc:summary></vc:summary>

            <input type="hidden" asp-for="Id" />

            <partial name="_FormFornecedorUpd" />

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div id="EnderecoTarget">
    <partial name="_DetalhesEndereco" />
</div>

<hr />
<h4>Produtos</h4>
<div>
    <partial name="../Produtos/_ListaProdutos" model="@Model.Produtos" />
</div>


<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        SetModal();
    </script>
}
